@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f7f7f7;
    --foreground: #222831;

    /* Text Boxes */
    --primary: #222831;
    --primary-foreground: #ffffff;
    --ring: #22283180; /* muted */

    /* Borders */
    --border: #e4eaef;
    --input: #e4eaef;

    /* Time Card */
    --card: #ef4444;
    --card-foreground: #ffffff;

    /* Time Carousel */
    --destructive: #ffffff;
    --destructive-foreground: #222831;
    /* Meridian Selector */
    /*-- Unselected */
    --secondary: #ffffff;
    --secondary-foreground: #222831;
    /*-- Selected */
    --accent: #eeeeee;
    --accent-foreground: #000000;

    /* Footer */
    --muted: #eeeeee;
    --muted-foreground: #222831;
    --popover: #d0d0d0;

    /* Unused */
    --popover-foreground: #222831;
    --radius: 0.5rem;
  }

  .dark {
    /* Dark Background */
    --background: #26282a;
    --foreground: #f7f7f7;

    /* Text Boxes */
    --primary: #f7f7f7;
    --primary-foreground: #1f2223;
    --ring: #f7f7f780; /* muted */

    /* Borders */
    --border: #2f3335;
    --input: #2f3335;
    --popover: #464a4e;

    /* Time Card */
    --card: #ef4444;
    --card-foreground: #ffffff;

    /* Time Carousel */
    --destructive: #49566a;
    --destructive-foreground: #ffffff;
    /* Meridian Selector */
    /*-- Unselected */
    --secondary: #49566a;
    --secondary-foreground: #f7f7f7;
    /*-- Selected */
    --accent: #3d4852;
    --accent-foreground: #f7f7f7;

    /* Footer */
    --muted: #2c2f31;
    --muted-foreground: #f7f7f7;

    /* Unused */
    --popover-foreground: #f7f7f7;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
